absl-py==0.2.1
astor==0.6.2
backports.weakref==1.0.post1
beautifulsoup4==4.6.0
bleach==1.5.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
enum34==1.1.6
Flask==0.12.2
Flask-Cors==3.0.3
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
goslate==1.5.1
grpcio==1.12.0
gunicorn==19.8.1
html5lib==0.9999999
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
mock==2.0.0
numpy==1.14.3
pbr==4.0.3
protobuf==3.5.2.post1
PyDictionary==1.5.2
requests==2.18.4
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-serving-api==1.7.0
termcolor==1.1.0
urllib3==1.22
Werkzeug==0.12.2
